services:
  app:
    build:
      context: .
      dockerfile: _docker/app/Dockerfile
    volumes:
      - ./:/var/www/
    depends_on:
      - db
    container_name: laravel_app
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
  db:
    image: mysql:8.0
    restart: always
    volumes:
      - ./tmp/db:/var/lib/mysql
    environment:
      MYSQL_DATABASE: lardavelblog
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    container_name: laravel_db
  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - db
    ports:
      - "8888:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
